<template > 
  <form submit.delegate="submit()" with.bind="form"   >
    <ul><li repeat.for="error of controller.errors">${error.message}</li></ul>     
    <div class="form-group">
      <label class="control-label" for="assetName" t="assetName">Asset Name</label>
      <input type="text" class="form-control" id="assetName" placeholder="Asset Name"
             value.bind="_Model.assetName & validate"  >
    </div>
    <div class="form-group">
      <label class="control-label" for="Department" t="Department">Department</label>
      <select class="form-control" id="Department" placeholder="Department"
      value.bind="_Model.Department & validate" model.bind="_Model.Department" >
        <option value="0">HQ</option>
        <option value="1">Store1</option>
        <option value="2">Store2</option>
        <option value="3">Store3</option>
        <option value="4">MaintenanceStation</option>
      </select> 
    </div>
    <div class="form-group">
      <label class="control-label" for="CountryofDepartment" t="CountryofDepartment">Country of Department</label>
      <input type="text" class="form-control" id="CountryofDepartment" placeholder="Country of Department"
             value.bind="_Model.CountryofDepartment & validate" >
    </div>
    <div class="form-group">
      <label class="control-label" for="EMailAdressOfDepartment" t="EMailAdressOfDepartment">EMail Adress Of Department</label>
      <input type="" class="form-control" id="EMailAdressOfDepartment" placeholder="EMail Adress Of Department "
             value.bind="_Model.EMailAdressOfDepartment  & validate" >
    </div>
    <div class="form-group">
      <label class="control-label" for="PurchaseDate" t="PurchaseDate">Purchase Date</label>
      <input type="date" class="form-control" id="PurchaseDate" placeholder="Purchase Date"
             value.bind="_Model.PurchaseDate  & validate" >
    </div>
    <div class="form-group">
      <label class="control-label" for="broken" t="broken">broken</label>
      <input type="checkbox"  id="broken" placeholder="broken" model.bind="_Model.broken"
             checked.bind="_Model.broken  & validate" >
    </div>
  
    <button type="submit" disabled.bind="!isValid"    class="btn btn-primary" t="Send">Send</button>
    <button click.trigger="reset()"  disabled.bind="!isResetable" type="reset" class="btn btn-warning" t="Reset">Reset</button>
  </form>

</template>;
